.loading-blocks-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-blocks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid lightslategray;
    border-radius: 4px;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, .5);
}