.loading-blocks-container {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid lightslategray;
    border-radius: 4px;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, .5);
}