/* CHATROOM */

#chatroom-main {
    flex-direction: column;
    justify-content: start;
    overflow-y: hidden;
}

#room-title {
    height: 24px;
    background: linear-gradient(to left, #F8F9FA, #DDDDDD, #F8F9FA);
    text-align: center;
    font-weight: 600;
    color: #171717;
}

#messages-container {
    flex: 1;
    display: flex;
    flex-direction:
    column-reverse;
    overflow-y: auto;
    padding: 0 10px;
    border: #A9A9A9 solid 1px;
}

.user-message-input {
    background: linear-gradient(to left, #F8F9FA, #DDDDDD, #F8F9FA);
    display: flex;
    padding: 10px;
}

.try-search-for-gif {
    width: 100%;
    align-self: center;
    text-align: center;
    user-select: none;
}

#chatroom-right-window {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#main-content {
    height: 100%;
    display: grid;
    grid-template-columns: 500px 2fr;
    grid-template-rows: auto;
}

#chatroom-left-window {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.gif-search-div {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-bottom: 10px;
}

#gif-search-text-box {
    height: fit-content;
}

#gif-search-button {
    height: fit-content;
    margin-left: 10px;
    display: flex;
}

#gif-search-results {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 6px;
    padding-right: 10px;
}

#gif-search-results > div {
    flex: 1;
    width: fit-content;
}

.message {
    /* position: relative; */
    color: #070D0D;
    max-width: 60%;
    padding: 6px 10px;
    margin: 6px;
    border-radius: 14px;
}

.message-self {
    align-self: end;
    background-color: #addb4f;
    border-bottom-right-radius: 0;
}

.message-other {
    align-self: start;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0;
}

.message-image > img {
    max-width: 25em;
    max-height: 25em;
    border-radius: 6px;
}

.message-author {
    font-style: italic;
    color: rgb(80,80,80);
    font-size: smaller;
    margin-bottom: -2px;
}

.message-system {
    align-self: center;
    font-style: italic;
    color:grey;
    padding: 6px;
}

.change-room-button {
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.change-room-button > span {
    display: inline-block;
}
.change-room-button > p {
    white-space: nowrap;
}
.change-room-button-small {
    display: none;
    margin-right: 10px;
}

#send-message-button {
    margin-left: 10px;
    align-self: flex-end;
    display: flex;
}

@media (max-width: 1000px) {
    #main-content {
        grid-template-columns: 256px 1fr;
    }
}

@media (max-width: 600px) {
    #chatroom-left-window {
        display: none;
    }
    #main-content {
        grid-template-columns: 1fr
    }
    .change-room-button-small {
        display: block;
    }
}