.root {
    background-color: white;
}

p {
    margin-bottom: 0;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}

.green-header {
    background: linear-gradient(#FFFFFF, #D1E7DD);
}
.green-footer {
    background: linear-gradient(#D1E7DD, #FFFFFF);
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
}

.form-title {
    text-align: center;
    padding-bottom: 2px;
}

.current-user-count-container, .current-user-count-container:hover {
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    margin-bottom: 0; /* Remove default margin */
}

.current-user-count-container span {
    margin-right: 0.5em;
}

footer {
    bottom: 0;
    width: 100%;
}

#room-information-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

#room-information-card > h3 {
    align-self: flex-end;
    margin-bottom: 0px;
}

.room-information-card-user-count > p{
    margin-top: 4px;
}

.room-information-card-user-count {
    align-self: flex-start;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .room-selection-div {
        width: 100%;
    }
}